### Python template
server.log

node_modules/gulp
node_modules/gulp-less
node_modules
sellerinfo.py
secrets
models
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
node_modules
.idea
.env
