<link rel="stylesheet" href="{{ static_url }}/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ static_url }}/bower_components/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="{{ static_url }}/bower_components/codemirror/addon/hint/show-hint.css">
<link rel="stylesheet" href="{{ static_url }}/ext-4.2.1.883/resources/ext-theme-neptune/ext-theme-neptune-all.css">
<link rel="stylesheet" href="{{ static_url }}/stylesheets/style.css">
