<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="/static/bower_components/bootstrap/js/modal.js"></script>

<script type="text/javascript" src="/static/bower_components/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/static/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="/static/bower_components/codemirror/mode/css/css.js"></script>
<script type="text/javascript" src="/static/bower_components/codemirror/addon/edit/matchbrackets.js"></script>
<script type="text/javascript" src="/static/bower_components/codemirror/addon/edit/closebrackets.js"></script>
<script type="text/javascript" src="/static/bower_components/codemirror/addon/hint/show-hint.js"></script>
<script type="text/javascript" src="/static/bower_components/codemirror/addon/hint/css-hint.js"></script>
<script type="text/javascript" src="/static/bower_components/codemirror/addon/hint/javascript-hint.js"></script>

<script type="text/javascript" src="/static/ext-4.2.1.883/ext-all.js"></script>

<script type="text/javascript" src="/static/js/inlet.js"></script>
<script type="text/javascript" src="/static/js/options.js"></script>
<script type="text/javascript" src="/static/js/webframe.js"></script>
<script type="text/javascript" src="/static/js/webutils.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/panes.js"></script>
