<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ description }}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <style id="webfiddle-css">{{ fiddle.style }}</style>

</head>
<body>
    {{ body }}
</body>

<script id="webfiddle-js">{{ fiddle.script }}</script>
</html>