<img src="/static/images/webfiddle-icon50x64.png"/>
<h1 class="main-header_heading">Web<span>Fiddle</span></h1>
<a id="save" class="btn header-btn" title="ctrl + s" href="#">
    <i class="fa fa-save"></i> Save <span class="web-entra">ctrl+s</span>
</a><a id="webfiddle_run" class="btn header-btn" title="ctrl + enter" href="#">
    <i class="fa fa-play"></i> Run <span class="web-entra">ctrl+enter</span>
</a><a id="share" class="btn header-btn" href="#">
    <i class="fa fa-share-alt"></i> Share
</a>


