<img src="{{ static_url }}/images/websim-logo50.webp"/>
<h1 class="main-header_heading">Web<span class="webfiddle-light-blue">Sim</span></h1>
<h2 class="main-header_heading">By <a class="webfiddle-light-blue" href="https://netwrck.com" target="_blank">Netwrck</a></h2>

<a id="save" class="btn header-btn" title="ctrl + s" href="#">
    <i class="fa fa-save"></i> Save <br/><span class="web-extra">ctrl+s</span>
</a><a id="webfiddle_run" class="btn header-btn" title="ctrl + enter" href="#">
    <i class="fa fa-play"></i> Run <br/><span class="web-extra">ctrl+enter</span>
</a><a id="share" class="btn header-btn" href="#">
    <i class="fa fa-share-alt"></i> Share
</a>


