{% extends 'templates/layout.jinja2' %}


{% block jsheaders %}
    <script>
        window.currentSavedFiddle = {{ current_saved_fiddle|tojson }};
        window.fixtures = (function () {
            var self = {};
            self.SCRIPT_TYPES = {{ fixtures.SCRIPT_TYPES|tojson }};
            self.STYLE_TYPES = {{ fixtures.STYLE_TYPES|tojson }};
            return self;
        })();
    </script>
{% endblock %}

{% block content %}
{% endblock %}


