<!doctype html>
<html>
<head>



    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords"
          content="jsfiddle, javascript, css, html, editor, ide, greasemonkey">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image"
          content="/static/images/webfiddle-icon128.png">
    <meta property="og:description"
          content="{{ description }}">

    <meta property="og:type" content="site">
    <meta property="og:site_name" content="WebFiddle">
    <meta property="fb:admins" content="337972272904903">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@LeeLeePenkman">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image"
          content="/static/images/webfiddle-icon256.png">

    {% include 'templates/global/jsincludes.jinja2' %}
    {% block jsheaders %}
    {% endblock %}
    {% include 'templates/global/cssincludes.jinja2' %}
    {% block cssheaders %}
    {% endblock %}
</head>

<body>
<div id="modal" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times close-modal"></i>
                </button>
            </div>
            <div class="modal-body">

            </div>
            {#            <div class="modal-footer"></div>#}

        </div>
    </div>
</div>

<div class="main-header">
    {% include 'templates/header.jinja2' %}
</div>
<div id="main-content" class="main-content">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>
