<!doctype html>
<html>
<head>

    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords"
          content="ai simulator, javascript, css, html, editor, websim, simulator">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image"
          content="{{ static_url }}/images/websim-logo256.webp">
    <meta property="og:image:width" content="256"/>
    <meta property="og:image:height" content="256"/>
    <meta property="og:description"
          content="{{ description }}">

    <meta property="og:type" content="site">
    <meta property="og:site_name" content="WebFiddle">
    <meta property="fb:admins" content="337972272904903">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="shortcut icon" href="{{ static_url }}/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ static_url }}/apple-touch-icon.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@LeeLeePenkman">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image"
          content="{{ static_url }}/images/websim-logo256.webp">




    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8598649123553748"
     crossorigin="anonymous"></script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFCJC6S');</script>
<script async defer src="https://cdn.tolt.io/tolt.js" data-tolt="28392388-1394-4540-b93e-eafcab72f44f"></script>

    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFCJC6S"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4502RWK8QT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4502RWK8QT');
    </script>
<!-- End Google Tag Manager -->

    {% include 'templates/global/jsincludes.jinja2' %}
    {% block jsheaders %}
    {% endblock %}
    {% include 'templates/global/cssincludes.jinja2' %}
    {% block cssheaders %}
    {% endblock %}
</head>

<body>
<div id="modal" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times close-modal"></i>
                </button>
            </div>
            <div class="modal-body">

            </div>
            {#            <div class="modal-footer"></div>#}

        </div>
    </div>
</div>

<div class="main-header">
    {% include 'templates/header.jinja2' %}
</div>
<div id="main-content" class="main-content">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>
